

main {
    background-color: #f2f2f2;
    padding: 15px;

    .creator { 
        text-align: center;
        p{ 
            font-weight: 700;
            span {
                font-weight: 400;
            }
        }
    }
}